<main>
    <form action="/admin/{{#if editing}}edit-product{{else}}add-product{{/if}}" method="post">
    <label for="title">Title</label>
      <input type="text" name="title" id="title" value="{{#if editing}}{{product.title}}{{else}}{{/if}}" />

    <label for="price">Price</label>
    <input type="text" name="price" id="price" value="{{#if editing}}{{product.price}}{{else}}{{/if}}" />

    <label for="image">ImageUrl</label>
    <input type="text" name="image" id="image" value="{{#if editing}}{{product.image}}{{else}}{{/if}}"/>

    <label for='description"'>Description</label>
    <textarea name="description" id="description" rows="5" >{{#if product}}{{product.description}}{{else}}{{/if}}</textarea>

        {{#if editing}}
            <input type="hidden" value="{{product.id}}" name="productId">

        {{/if}}
    <button type="submit">
      {{#if editing}}Edit product {{else}}Add product{{/if}}
    </button>
  </form>
</main>
